/* Background
background-image: url("https://f2.toyhou.se/file/f2-toyhou-se/images/30712857_wHcQ4w6QMA9Z4EF.png");*/
  body {
    background-image: url("backgroundtile.png");
    background-color: #C9ACEF;
    margin:100px;
    }

/* Boxes */
  div {
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-color: #F0E8F9;
    }

/* Heading 1*/
  h1 {
    color: #532b88;
    font-family: "Verdana", serif;
    }
  
  h2, h3, h4{
    color: #9b72cf;
    font-family: "Verdana", serif;
  }
  

  .nav-bar-Link{
    display: inline;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

/* Text*/
  p, li, dl {
    color: #532b88;
    font-family: "Verdana", serif;
    line-height: 1.5;
    }

/* Links*/
  a {
    color: #532b88;
    font-family: "Verdana", serif;
    }
    
/* Navigation Bar*/
.nav-bar-Background {
    list-style-type: none;
    background-color: #9b72cf;
    padding: 5px;
}

.nav-bar-List{
    display: inline;
    color: white;
}